.custom_text_color{
  color:#092696;
}

#mydiv {
  position: absolute;
  top:400px;
  left: -450px;
}

a{
  text-decoration: none;
  color: #092696;
}

section button{
  margin-left: 20px;
}

.hamburger {
  cursor: pointer;
  padding: 15px 10px 15px 0;
  display: block;
  float: right;
  margin-top: 15px;
}


/* Dropdown Button */
.dropbtn {
background-color: #fff;
  color: #092696;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
position: relative;
display: inline-block;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropup content (Hidden by Default) */
.dropup-content {
display: none;
position: absolute;
font-size: small;
bottom: 50px;
background-color: #f1f1f1;
min-width: 220px;
box-shadow: #092696;
z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
font-size: small;
background-color: #EFEFEF;
min-width: 220px;
box-shadow: #092696;
z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
align-content: center;
color: #092696;
padding: 10px 10px;
text-decoration: none;
display: block;
}
/* Links inside the dropdown */
.dropdown-content a {
  align-content: center;
  color: #092696;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd; text-align: center;}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
  margin-left: 4rem; 
  margin-bottom: -2rem;
}


/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {background-color: #2ffc1b; color: #fff;}

/* Change the background color of the dropup button links when the dropup content is shown */
.dropup:hover .dropbtn a {color: #fff;}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff; align-content: center;text-align: center;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background: linear-gradient(to right,#092696,#2ffc1b);
	background-position: center right;
  color: #fff;
  align-content: center;
 }

/* Change the background color of the dropdown button links when the dropdown content is shown */
.dropdown:hover .dropbtn a { color: #fff; align-content: center; }

.panel-body {
  padding: 15px;
}

.play-pause {
  float: right;
  font-size: 12px;
}

div {
  display: block;
}

.news {
  position: relative;
  border-top: 5px solid #0B567E;
  margin-top: 20px;
  min-height: 440px;
  max-height: 440px;
  overflow: hidden;
}

.tickerv-wrap {
  background: #eee;
  box-sizing: content-box;
  height: 200px; /* Take note of this */
  overflow: hidden; /* Hide scrollbars */
  padding: 10px;
} 

/* TICKER ANIMATION */
@keyframes tickerv {
  0%   {margin-top: 0;}
  /* Quite literally -ve height of wrapper */
  25%  {margin-top: -26px;} /* 1 X 25 px */
  50%  {margin-top: -52px;} /* 2 X 25 px */
  75%  {margin-top: -78px;} /* 3 X 25 px */
  100% {margin-top: 0;} /* Back to first line */
}
.tickerv-wrap ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation-name: tickerv; /* Loop through items */
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .5, 0);
}
.tickerv-wrap ul:hover {
  /* Pause on mouse hover */
  animation-play-state: paused;
}

/* ITEMS */
.tickerv-wrap ul li {
  font-size: 18px;
  line-height: 26px /* Same as wrapper height */
}
.border {
  border: 1px solid #d4d4d4;
}

